.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    font-family: Geneva;
    font-size: 20px;
    font-weight: 200;
    color: #235789;
}

#form-main{
    width:100%;
    float:center;
    padding-top:0px;
    margin-left: -75px;
}

#form-div {
    background-color: #d4ecfa;
    font-family: Geneva;
    font-size: 20px;
    font-weight: 200;
    color: #235789;
    font-display: center;
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width: 150px;
    float: right;
    left: 50%;
    position: right;
    margin-top:30px;
    margin-left: -200px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Geneva;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: Helvetica;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #3498db;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
    
.submit:hover {
    color: #235789;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
.intro {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: 8px 0 10px;
    color: #fc6022ff;
    position: relative;
    padding: 0 0 23px;
    line-height: 1;
    } 


.bio, .list {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #050505ff;
    margin: 0;
    letter-spacing: 0.3px;

}

.safety {
    display: flex;
    justify-content: start;
    font-weight: 500;
    font-size: 16px;
    color: #050505ff;
    margin-top: 20px;
    margin-left: 150px;
    letter-spacing: 0.3px;
}

.areas {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: 8px 0 10px;
    color: #fc6022ff;
    position: relative;
    padding: 0 0 23px;
    line-height: 1;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
}

.registration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #235789;
    font-family: Geneva;
    font-size: 10px;
    font-weight: 200;
    color: #ffffff;
    width: 100%;    
    margin-top: 100px;
    margin-bottom: 100px;
}